<footer class="text-muted">
    <div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>This site was developered with thanks to technologies such as &copy;nodeJS | &copy;Bootstrap</p>
    <p>New to nodeJS? You can visit <a href="https://nodejs.org/">nodeJS</a> and bootstrap can be found at <a href="https://getbootstrap.com/">Bootstrap</a>.</p>
    </div>
</footer>
