<!doctype html>

<html lang="en">
<head>
  {{>head}}
</head>

<body>

    {{>header}}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">{{pageHeader}}</h2>
          <p class="lead text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          </p>
        </div>
        <div class="list-group list-group-flush">
                <a href="https://openweathermap.org/api" target="_blank" class="list-group-item">Open Weather API</a>
                <a href="https://openweathermap.org/weather-conditions" target="_blank" class="list-group-item">Open Weather API conditions</a>
                <a href="https://docs.mapbox.com/api/search/" target="_blank" class="list-group-item">Mapbox API</a>
                <a href="https://getbootstrap.com/docs/4.1/examples/album/" target="_blank" class="list-group-item">Bootstrap template</a>
                <a href="https://www.iconninja.com" target="_blank" class="list-group-item">Weather Icons</a>
            </ul>
      </section>  
     </main>

    {{>footer}}
</body>

</html>